body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: #8f8f8f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
    color: #444;
}

.cart-items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.cart-item {
    width: calc(25% - 20px);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cart-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

.cart-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 4px;
}

.item-details {
    text-align: center;
}

.item-details h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #555;
}

.item-details p {
    margin: 5px 0;
    color: #666;
}

form {
    margin-top: 15px;
    width: 100%;
    text-align: center;
}

.update-button,
.remove-button,
.confirm-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.update-button {
    background-color: #28a745;
}

.update-button:hover {
    background-color: #218838;
    transform: translateY(-2px);
}

.remove-button {
    background-color: #dc3545;
}

.remove-button:hover {
    background-color: #c82333;
    transform: translateY(-2px);
}

.confirm-button {
    background-color: #007bff;
}

.confirm-button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}


.empty-cart {
    text-align: center;
    margin-top: 40px;
}

.empty-cart img {
    max-width: 100%;
    height: auto;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}
